<div class="container">
    <span class="container-heading">Period table</span>
    <span class="container-subheading">Click on value to change</span>
    <form>
        <mat-form-field class="example-full-width">
            <mat-label>Filter results</mat-label>
            <input matInput [formControl]="filterControl">
        </mat-form-field>
    </form>

    <!-- {{table and loading }}  -->

    @if(!store.loading()){
    <table mat-table [dataSource]="dataSource()" class="table">

        <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef> Pos. </th>
            <td mat-cell *matCellDef="let element" (click)="editCell(element, 'Position')"> {{element.position}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element" (click)="editCell(element, 'Name')"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef> Weight </th>
            <td mat-cell *matCellDef="let element" (click)="editCell(element, 'Weight')"> {{element.weight}} </td>
        </ng-container>

        <ng-container matColumnDef="symbol">
            <th mat-header-cell *matHeaderCellDef> Symbol </th>
            <td mat-cell *matCellDef="let element" (click)="editCell(element, 'Symbol')"> {{element.symbol}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    }@else {
    <mat-spinner></mat-spinner>
    }
</div>